<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags">
<head>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Editar Modelo</title>

<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"
	rel="stylesheet" />

</head>

<body>

	<div th:replace="cabecalho :: cabecalho">...</div>

	<div id="main" class="container-fluid">

		<h3 class="page-header"></h3>

		<div class="panel panel-default" style="margin: 10px">

			<div class="panel-heading">
				<h1 class="panel-title">Editar Modelo</h1>
			</div>

			<div class="panel-body">

				<form class="form-inline" method="POST" th:object="${modeloAntigo}"
					th:action="@{/modelos/atualizar}" style="margin: 20px 0">
					<div class="form-group">

						<table class="scrollmenu">
							<tr>
								<td>Id</td>
								<td><input readonly th:type="text" class="form-control"
									placeholder="Id" th:field="*{id}" /></td>
							</tr>
							<tr>
								<td>Nome</td>
								<td><input type="text" class="form-control"
									placeholder="Nome" th:field="*{nome}" /></td>
							</tr>
						</table>

						<button type="submit" class="btn btn-primary">Atualizar</button>
						<a th:href="@{/modelos}"> Cancelar </a>
					</div>
				</form>

			</div>
		</div>
	</div>
	<div th:replace="rodape :: rodape">...</div>

</body>
</html>