<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Lista de Datashows</title>
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
<style>
div.panel-body {
	overflow: auto;
	white-space: nowrap;
}

div.panel-body td {
	text-decoration: none;
}
</style>
</head>

<body>

	<div th:replace="cabecalho :: cabecalho">...</div>

	<div id="main" class="container-fluid">

		<h3 class="page-header"></h3>

		<div class="panel panel-default" style="margin: 10px">

			<div class="panel-heading">
				<h1 class="panel-title">Lista de datashows</h1>
			</div>



			<div class="panel-body">

				<form class="form-inline" method="POST" th:object="${datashow}"
					th:action="@{/datashows}" style="margin: 20px 0">
					<div class="form-group">

						<table class="scrollmenu">
							<tr>
								<td>Patrimônio</td>
								<td><input type="text" class="form-control"
									placeholder="Patrimonio" th:field="*{patrimonio}" /></td>
							</tr>
							<tr>
								<td><a th:href="@{'/marcas'}">Marca</a></td>
								<td><input type="text" list="marcs" class="form-control"
									placeholder="Marca" th:field="*{marca}" /> <datalist
										id="marcs">
										<option th:each="marca : ${marcas}" th:text="${marca.nome}"
											th:value="${marca.id}" />
									</datalist></td>
							</tr>

							<tr>
								<td><a th:href="@{'/modelos'}">Modelo</a></td>
								<td><input type="text" list="mods" class="form-control"
									placeholder="Modelo" th:field="*{modelo}" /> <datalist
										id="mods">
										<option th:each="modelo : ${modelos}" th:text="${modelo.nome}"
											th:value="${modelo.id}" />
									</datalist></td>
							</tr>
							<tr>
								<td>Número de Série</td>
								<td><input type="text" class="form-control"
									placeholder="Número de Série" th:field="*{numeroDeSerie}" /></td>
							</tr>
							<tr>
								<td><a th:href="@{'/departamentos'}">Departamento</a></td>
								<td><input type="text" list="locs" class="form-control"
									placeholder="Departamento" th:field="*{localizacao}" /> <datalist
										id="locs">
										<option th:each="localizacao : ${localizacoes}"
											th:text="${localizacao.nome}" th:value="${localizacao.id}" />
									</datalist></td>
							</tr>
							<tr>
								<td>Observação</td>
								<td><input type="text" class="form-control"
									placeholder="Observação" th:field="*{observacao}" /></td>
							</tr>

							<tr>
								<td>Descrição da Sala</td>
								<td><input type="text" class="form-control"
									placeholder="Descrição da Sala" th:field="*{descricaoDaSala}" /></td>
							</tr>
							<tr>
								<td>Controle Remoto</td>
								<td><input type="text" class="form-control"
									placeholder="Controle Remoto" th:field="*{controleRemoto}" /></td>
							</tr>
						</table>

						<button type="submit" class="btn btn-primary">Adicionar</button>

					</div>
				</form>

				<table class="table" border="1">
					<thead>
						<tr>
							<th>ID</th>
							<th>Patrimonio</th>
							<th>Marca</th>
							<th>Modelo</th>
							<th>Número de Série</th>
							<th>Departamento</th>

							<th>Observação</th>
							<th>Atualizado Em</th>

							<th>Descrição da Sala</th>
							<th>Controle Remoto</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="datashow : ${datashows}">
							<td th:text="${datashow.id}"></td>
							<td th:text="${datashow.patrimonio}"></td>
							<td th:text="${datashow.marca}"></td>
							<td th:text="${datashow.modelo}"></td>
							<td th:text="${datashow.numeroDeSerie}"></td>
							<td th:text="${datashow.localizacao}"></td>

							<td th:text="${datashow.observacao}"></td>
							<td th:date="${datashow.atualizadoEm}"></td>

							<td th:text="${datashow.descricaoDaSala}"></td>
							<td th:text="${datashow.controleRemoto}"></td>

							<td><a
								th:href="@{'/datashows/populaForm'(id=${datashow.id})}">editar</a></td>
							<td><a th:href="@{'/datashows/remove'(id=${datashow.id})}">remover</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div th:replace="rodape :: rodape">...</div>

</body>
</html>