<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>

	<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<div th:fragment="rodape">
		<div class="panel panel-default" style="margin: 10px">
			<div class="panel-heading">
				<h1 class="panel-title">&copy; 2017 - Todos os direitos	reservados.</h1>
				<!-- Seja bem vindo ao Inventário da Fatec SJC -->
			</div>
		</div>
	</div>
</body>
</html>
